<app-navbar></app-navbar>

<!--fondo_modal inicie session-->
<div class="fondo_trasnparenteModal" *ngIf="modalIniciarSession"></div>

<div class="contenedor_principal_restaurante">
    <!---modal informativo de inicio de sesion-->
    <div class="contenedor_inicio_de_session" *ngIf="modalIniciarSession">
        <img src="./assets/img/cerrar_negro.png" class="icono_cerrar" (click)="cerrarModalSession()"/>
        <div class="base_informacion">
            <h1 class="mensaje_inicio_sesion">Por favor inicie session para {{ texto }}</h1>
            <p class="iniciar_sesion" [routerLink]="['/loginCliente']">Iniciar session</p>
            <p class="iniciar_sesion oscuro" [routerLink]="['/registroCliente']">No estoy Registrado</p>
        </div>
    </div>
</div>




<div class="fondo_trasparentoso_lts"></div>
<div class="contenedor_principal_restaurantes">
    <div class="contenedor_seguro_tsx">
        <div class="base_imagen_ltsx">
            <img src="./assets/img/logo_restaurante_blanco.svg" class="logo_restaurante_blanco"/>
        </div>
        <h1 class="nombre_persona" *ngIf="ocultarSaludo">Hola {{  nombrePersona  }}</h1>
        <p class="texto_introduccion_z">Te presentamos los restaurantes donde puedes comer hamburguesa en {{ nombreCiudad }}</p>
    </div>

   
    <!---selects-->
    <div class="contenedor_selectores_restaurantes">

        <form [formGroup]="selectForm" class="formulario_selectores">

             <!--------CATEORIA-------->
             <div class="bases_seleccionar_comida input_left">
                <label class="texto_select">Elegir Comida</label>
                <select class="form-control" id="categorias"  #valCat (change)="seleccionarComida( valCat.value )" formControlName="categoriass">
                    <option value="Todos">Todas las categorias</option>
                    <option value="Comida rapida">Comida rapida</option>
                    <option value="Carnes">Carnes</option>
                    <option value="Sopas">Sopas</option>
                    <option value="Vegetales">Vegetales</option>
                    <option value="Tipica colombiana">Tipica colombiana</option>
                    <option value="Comidad de mar">Comidad de mar</option>
                    <option value="Comida Light">Comida Light</option>
                    <option value="Comida Peruana">Comida Peruana</option>
                    <option value="Comida Italiana">Comida Italiana</option>
                    <option value="Comida Francesa">Comida Francesa</option>
                    <option value="Comida China">Comida China</option>
                    <option value="Comida Mexicana">Comida Mexicana</option>
                    <option value="Comida Oriental">Comida Oriental</option>
                </select>
            </div>

            <!--------DEPARTAMENTOS-------->
            <div class="bases_seleccionar_comida">
                <label class="texto_select">Elegir departamento</label>
                
                <select id="departID" class="seleccionar_ciudad form-control" #val (change)="seleccionarDepartamento( val.value )" formControlName="departamentoss">
                    <option class="todas_los_departamentos" value="todos">Todas los departamentos</option>
                    <option *ngFor="let depart of departamentos; let i = index" class="ciudad" [value]="i" [id]="i">{{ depart.departamento }}</option>
                </select>

            </div>


            <!--------CIUDADES-------->
            <div class="bases_seleccionar_comida input_left" *ngIf="SelectTodasCiudades">
                <label class="texto_select">Elegir Ciudad</label>

                <select id="ciudadID" class="seleccionar_ciudad form-control" #valCity (change)="seleccionarCiudad(valCity.value)" formControlName="ciudadess">
                    <option class="todas_los_departamentos" value="todos">Todas las ciudades</option>
                    <option  *ngFor="let city of ciudades; let i = index" class="ciudad" [value]="city" [id]="i" >{{ city }}</option>
                </select>
            </div>

        </form>
    </div>


    
    


    <!--contenedor cards restaurantes--->
    <div class="contenedor_cards" *ngIf="contenedorCardsRestaurantes">

        <div class="card_1_restaurante" *ngFor="let restaurante of guardarResturantesDB; let i = index">
            <img [src]="restaurante.foto" class="imagen_card"/>
            <div class="informacion_restaurante">
                <h2 class="titulo_restaurante">{{ restaurante.nombreRestaurante }}</h2>
                <p class="barrio">{{ restaurante.direccion }}</p>
                <p class="barrio">{{ restaurante.ciudad }}</p>
                <!--<p class="direccion">{{ restaurante.email }}</p>-->
                <!--<img src="./assets/img/favorito.png" class="icono_favoritos"/>-->
                
                <button class="agregar_favorito" (click)="agregarFavoritos(restaurante, i)" id="favorito{{i}} ">Agregar favorito</button>

                <button class="boton_ver_resturante" (click)="verRestaurante( restaurante, restaurante._id )">Ver resturante</button>
            </div>
        </div>       
    </div>


   


    <!--no hay categoria-->
    <div class="contenedor_no_resgitros" *ngIf="noHayCategoria">
        <h1 class="txt_vacio">No hay Restaurantes para tu busqueda.</h1>
    </div>


