<div class="contenedor_header">
    <div class="base_cajon_login">
        <button type="button" class="login_plataforma" (click)="mostrarMenu()" *ngIf="botonLogin">LOGIN</button>
    </div>      
    <div class="contenedor_perfil" *ngIf="contenedorPerfil">
        <h2 class="nombre_person_perfil">{{ nombrePerfil  }}</h2>
        <img src="./assets/img/foto_perfil.jpg"   class="foto_perfil" (click)="ventanaPerfil()"/>
        <img src="./assets/img/flecha_abajo.png"  class="foto_abajo" (click)="ventanaPerfil()"/>
    </div>

    <div class="cajon_perfil_rest" *ngIf="mostrarVentanaPerfil">
        <p class="textos_perfil" (click)="verPerfil()">Perfil</p>
        <p class="textos_perfil" (click)="cerrarSesion()">Cerrar Sesion</p>
    </div>
</div>

<div class="base_logins" *ngIf="mostrarMenuLogin">
    <p class="text_login" [routerLink]="['/loginCliente']">Ingreso a clientes</p>
    <hr class="linea_divisora">
    <p class="text_login" [routerLink]="['/LoginRestauranteComponent']">Ingreso a restaurantes</p>
</div>
