<div class="contenedor_flotante_mensajes" *ngIf="ventanaMensajesRespuesta">
    <div class="caja_de_mensaje">

        <img src="./assets/img/cerrar_negro.png" class="cerrar_icono" (click)="cerrar_ventana_mensajes()">

        <h1 class="titulo_respuesta">{{ nombreRespuesta }}</h1>

        <p>Enviar Mensaje</p>
        <textarea type="textarea" class="textarea2" [(ngModel)]="mensajeRespuesta"></textarea>

        <button class="btn btn-primary" (click)="enviarRespuesta2()" *ngIf="nombreCliente1">Enviar Mensaje a cliente</button>

        <button class="btn btn-primary" (click)="enviarRespuesta()"  *ngIf="nombreResturante1">Enviar Mensaje a restaurante</button>

    </div>
</div>


<div class="contenedor_header">
    <!--menu-->
    <div class="contenedor_menu">
        <ul>
            <li class="texto_menu" [routerLink]="['/inicio']" *ngIf="botonInicio">Inicio</li>
            <li class="texto_menu" [routerLink]="['/restaurantes/Carnes']" *ngIf="botonRestaurante">Restaurantes</li>

            <li class="texto_menu" [routerLink]="['/internaRestaurante']" *ngIf="botonPedidos">Ver Pedidos Solictados</li>

            <li class="texto_menu" *ngIf="botonNotificaciones" (click)="abrirNotificaciones()">Notificaciones <span class="cuadro_notificacion" *ngIf="numNotificaciones">{{ numeroNotificaciones }}</span></li>

            <li class="texto_menu" *ngIf="notificacionMensajes" (click)="abrirMensajes()">Mensajes <span class="cuadro_notificacion" *ngIf="numNotificacionesMensajes">{{ numeroMensajes }}</span></li>


        </ul>
    </div>


    <div class="base_cajon_login">
        <button type="button" class="login_plataforma" (click)="mostrarMenu()" *ngIf="botonLogin">LOGIN</button>
    </div>      
    <div class="contenedor_perfil" *ngIf="contenedorPerfil">
        <h2 class="nombre_person_perfil">{{ nombrePerfil  }}</h2>
        <img src="{{ guardarImagenPerfil }}"   class="foto_perfil" (click)="ventanaPerfil()"/>
        <img src="./assets/img/flecha_abajo.png"  class="foto_abajo"  (click)="ventanaPerfil()"/>
    </div>

    <div class="cajon_perfil_rest" *ngIf="mostrarVentanaPerfil">
        <p class="textos_perfil" (click)="verPerfil()" *ngIf="verLetraPerfil">Perfil</p>
        <p class="textos_perfil" (click)="cerrarSesion()">Cerrar Sesion</p>
    </div>
</div>



<!---notificaciones-->
<div class="base_notificaciones" *ngIf="BaseNotificaciones">
    <p class="texto_notificacion border_notificacion" *ngFor="let nota of guardarNotificacion; let i = index">{{ nota.notificacion }} 
        <span><button class="btn btn-danger" (click)="borrarNotificacion( nota, i )">borrar</button></span>
    </p>

    <p class="sin_notificaciones" *ngIf="noHayNotificaciones">No hay notificaciones</p>
    
</div>


<!----mensajes----->
<div class="base_mensajes" *ngIf="mostrarMensajes">

    <p class="sin_notificaciones" *ngIf="noHayMensajes">No hay Mensajes</p>

    <div class="base_principal_m" *ngFor="let mensajes of guardarMensajes">
        <div class="base_mensaje_internos">

            <h1 class="nombre_resturante" *ngIf="nombreCliente1">{{ mensajes.emailCliente }}</h1>
            <h1 class="nombre_resturante" *ngIf="nombreResturante1">{{ mensajes.emailResturante }}</h1>

            <p class="texto_notificacion2" *ngIf="nombreCliente1">{{ mensajes.mensajeDecliente }}</p>
            <p class="texto_notificacion2" *ngIf="nombreResturante1">{{ mensajes.mensajeDeResturante }}</p>

        </div>

        <div class="base_botones">
            <button class="btn btn-danger boton_rojo" (click)="borrarMensajesClientes( mensajes )" *ngIf="nombreCliente1">borrar Clientes</button>
            <button class="btn btn-danger boton_rojo" (click)="borrarMensajes( mensajes )" *ngIf="nombreResturante1">borrar restaurante</button>


            <button class="btn btn-success responder" (click)="abrirVentanaMensajes( mensajes )">Responder</button>
        </div>
    </div>
</div>



<div class="base_logins" *ngIf="mostrarMenuLogin">
    <p class="text_login" [routerLink]="['/loginCliente']">Ingreso a clientes</p>
    <hr class="linea_divisora">
    <p class="text_login" [routerLink]="['/LoginRestauranteComponent']">Ingreso a restaurantes</p>
</div>
