
.contenedor_principal_restaurante {
    width: 100%;
    display: table;
    background-color: red;
    background-image: url("../../../assets/img/fondo2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.contenedor_seguro_tsx_2{
    width: 1200px;
    margin: auto;
    position: relative;
    z-index: 2;
}

.base_imagen_ltsx{

    width: 180px;
    display: table;
    margin:auto;
    position: relative;
    padding-top: 40px;
}

.titulo_restaurante_z {
    font-size: 56px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 0px;
    margin-bottom: -3px;
    
}

.contenedor_detalle_restaurante{
    width: 100%;
    display: table;
    margin-bottom: 40px;
}

.base_detalle_resturante{

    width: 540px;
    display: table;
    float: left;
    margin: 56px auto 50px auto;

}

.base_detalle_carta{

    width: 100%;
    float: right;
    display: table;
    margin: 40px auto;
}

.imagen_restaurante{

    width: 100%;
}

.base_carta_1{

    width: 44%;
    height: 477px;
    float: left;
    background-color: #1A1A1A;
    margin-left: 10px;
    box-sizing: border-box;
    padding: 10px 21px;
    overflow-y: scroll;
    margin-left: 20px;
}

.base_carta_1::-webkit-scrollbar {
    width: 6px; 
    height: 10px;              /* width of the entire scrollbar */
  }
  
  .base_carta_1::-webkit-scrollbar-track {
    background: #3b3b3b;
  }
  
  .base_carta_1::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
  }


.base_carta_2{

    width: 44%;
    height: 477px;
    float: left;
    background-color: #1A1A1A;
    margin-left: 52px;
    box-sizing: border-box;
    padding: 10px 21px;
    position: relative;
    overflow-y: scroll;
}

.base_carta_2::-webkit-scrollbar {
    width: 6px; 
    height: 10px;              /* width of the entire scrollbar */
  }
  
  .base_carta_2::-webkit-scrollbar-track {
    background: #3b3b3b;
  }
  
  .base_carta_2::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
  }



.titulo_menu {
    
    color: #fff;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 32px;
    margin-top: 17px;
}

.subtitulo_menu {
    color: #fff;
    font-size: 16px;
    text-align: left;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding-top: 9px;
    background-color: #682c17;
    padding: 10px 20px 9px 20px;
    text-align: left;
}

form.formulario_menu {
    font-size: 16px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    padding-right: 10px;
}

span.precio {
    float: right;
}

span.nombre_tl {
    margin-left: 6px;
}

.linea_divisora_lts{

    border:0;
    height: 1px;
    background-color: #fff;
    width: 100%;
    margin:10px auto;
}

.quitar_comida {
    width: 14px;
    cursor: pointer;
    margin-right: 9px;
}


.pedido_domicilio {

    display: block;
    width: 100%;
    padding: 5px 19px;
    font-size: 17px;
    color: #FFE;
    border: 0;
    background-color: #682C17;
    position: relative;
    bottom: 0;

}

.base_descripcion_restaurante{

    width: 100%;
    padding: 30px;
    display: table;
    background-color: #682c17;

}

.texto_restaurante {
    font-family: 'Open Sans';
    font-weight: 200;
    color: #fff;
    font-size: 16px;
}

.contenedor_comentarios_restaurante {
    width: 100%;
    display: table;
    margin-bottom: 30px;
    margin-top: 90px;
}

.comentarios_restaurante {
    color: #fff;
    font-size: 22px;
    text-align: left;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.caja_comentario_ltsx {
    width: 100%;
    display: table;
    background-color: #682c1799;
    margin-bottom: 36px;
    padding: 20px 30px 6px 20px;
    border-radius: 10px;
}

.nombre_persona {
    color: #fff;
    font-size: 14px;
    text-align: left;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.comentario_lts {
    color: #fff;
    font-size: 15px;
    text-align: left;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 4px;
    margin-bottom: 3px;
}

.calificacion_txt {
    color: #fff;
    font-size: 14px;
    text-align: left;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.base_formulario_comentario{

    width: 100%;
    margin-bottom: 30px;
}

.txt_mensaje{

    font-family: 'Open Sans';
    font-weight: 200;
    color: #fff;
    font-size: 16px;
}

.base_modal_confirmacion{

    width: 600px;
    /* display: table; */
    background-color: #fff;
    height: 602px;
    position: fixed;
    top: 15%;
    z-index: 3;
    left: 0px;
    right: 0px;
    margin: auto;
    overflow-y: scroll;

}

.icono_restaurante {
    width: 130px;
    margin: 0px auto 40px auto;
}

.mensaje_modal{

    font-size: 21px;
    text-align: center;
    color: #000;
    width: 400px;
    margin: 0px auto 40px auto;
    
}

.base_seleccionados{
    width: 80%;
    background-color: #000;
    margin: auto;
    padding: 20px 40px;
    display: table;
    margin: 0px auto 40px auto;
    max-height: 215px;
}

.precio_almuerxo_l{

    float:right;
}

textarea {
    width: 100%;
    height: 67px;
    margin-top: 11px;
}

.comida_seleccionada {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.quitar_ltsx {
    color: #fff;
    float: right;
    cursor: pointer;
}

.base_imagen_lts{

    width: 100%;
    display: table;
    text-align: center;
    margin-top: 40px;
}

.base_data{

    width: 100%;
    display: table;
}

.enunciado{

    padding-bottom: 10px;
}

.formulario_data{

    width: 80%;
    display: table;
    margin: auto;


}

.boton_solicitar_domicilio{

    background-color: #0050ff;
    color: #fff;
    border: 0;
    padding: 8px 20px;
    margin: 30px 0px;
    float: right;
    cursor:pointer;
}

.icono_cerrar{
    position: absolute;
    right: 13px;
    top: 13px;
    width: 34px;
    cursor: pointer;
}

.fondo_trasnparenteModal{

    width: 100%;
    height: 100vh;
    background-color: #000000d9;
    z-index: 3;
    position: fixed;
    top: 0;
}


.categoria_restaurante{

    color: #fff;
    text-align: center;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 48px;
    font-size: 29px;

}

.base_comida_scs{

    width: 100%;
    display: table;
    margin-bottom: 10px;
}

.contenedor_inicio_de_session{
    width: 500px;
    height: 293px;
    margin: auto;
    background-color: #fff;
    position: relative;
    z-index: 9;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 37%;
    padding: 40px;
    display: flex;
    align-items: center;
}

.mensaje_inicio_sesion {
    
    font-size: 25px;
    color: #000;
    text-align: center;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 0px;
    margin-bottom: 25px;
}

.iniciar_sesion {

    padding: 7px 15px;
    background-color: #00c7ff;
    text-align: center;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    width: 245px;
    margin: 18px auto 0px auto;
    cursor: pointer;
}

.icono_cerrar2 {
    position: absolute;
    right: 12px;
    top: 13px;
    width: 34px;
    cursor: pointer;
}

.base_informacion {
    width: 100%;
    display: table;
}

.oscuro{
    background-color: #0c6999;
}

.quitar-left{

    margin-left: 0px;
}

.logo_restaurante_blanco {
    margin-bottom: 4px;
}



