<app-navbar></app-navbar>


<div class="fondo_trasparentoso_lts"></div>


<!---fondo Pantall Modal MODAL---->
<div class="fondo_trasnparenteModal" *ngIf="modalPedido"></div>
<!---fondo Pantall Modal MODAL---->

<!--fondo_modal inicie session-->
<div class="fondo_trasnparenteModal" *ngIf="modalIniciarSession"></div>


<div class="contenedor_principal_restaurante">

    <!---modal informativo de inicio de sesion-->
    <div class="contenedor_inicio_de_session" *ngIf="modalIniciarSession">
        <img src="./assets/img/cerrar_negro.png" class="icono_cerrar" (click)="cerrarModalSession()"/>
        <div class="base_informacion">
            <h1 class="mensaje_inicio_sesion">Por favor inicie session para realizar el pedido</h1>
            <p class="iniciar_sesion" [routerLink]="['/loginCliente']">Iniciar session</p>
            <p class="iniciar_sesion oscuro" [routerLink]="['/registroCliente']">No estoy Registrado</p>
        </div>
    </div>

    <!---inicio MODAL---->
    <div class="base_modal_confirmacion" *ngIf="modalPedido">
        <img src="./assets/img/cerrar_negro.png" class="icono_cerrar" (click)="cerrarModal()"/>
        <div class="base_imagen_lts">
            <img src="./assets/img/logo_negro.svg" class="icono_restaurante"/>    
        </div>

        <h3 class="mensaje_modal">¿Hola {{ nombreUsuario }} esta bien tu pedido?</h3>
        <div class="base_seleccionados">
            <p class="comida_seleccionada" *ngFor="let pedidoListo of arregloPedido">{{ pedidoListo }}<span class="precio_almuerxo_l"> </span></p>

        </div>

        <h3 class="mensaje_modal bajar_bottom">Lo enviaremos a la siguiente dirección</h3>
        <p class="otra_direccion">Si estas en otro lugar puedes cambiarla</p>

        <form [formGroup]="datosCliente" class="formulario_data">
            <div class="base_data">
                <label class="enunciado">Ciudad</label>
                <input type="text"  class="form-control" formControlName="ciudad"/> 
            </div>

            <div class="base_data">
                <label class="enunciado">Barrio</label>
                <input type="text"  class="form-control" formControlName="barrio"/> 
            </div>

            <div class="base_data">
                <label class="enunciado">Dirección</label>
                <input type="text"  class="form-control" formControlName="direccion"/> 
            </div>

            <div class="base_data">
                <button type="button" class="boton_solicitar_domicilio" (click)="pedirDomicilio()">Sí, Pedir Domicilio </button>
            </div>
        </form>
    </div>
    <!---fin MODAL---->


    <div class="contenedor_seguro_tsx_2">
        <div class="base_imagen_ltsx">
            <img src="./assets/img/logo_restaurante_blanco.svg" class="logo_restaurante_blanco"/>
        </div>
        <h2 class="titulo_restaurante_z">{{ informacionRestaurante.nombreRestaurante }}</h2>
        <p class="categoria_restaurante">{{ informacionRestaurante.categoria }}</p>

        <div class="contenedor_detalle_restaurante">
            <div class="base_detalle_resturante">
                <img src="{{ informacionRestaurante.foto[0] }}" class="imagen_restaurante"/>
                <div class="base_descripcion_restaurante">
                    <p class="texto_restaurante">{{ informacionRestaurante.descripcion }}</p>
                </div>
            </div>
            <div class="base_detalle_carta">
                <div class="base_carta_1 quitar-left">
                    <h2 class="titulo_menu">NUESTRO MENU</h2>
                    
                    <form class="formulario_menu">

                        <h3 class="subtitulo_menu">Entradas</h3>
                        <hr class="linea_divisora_lts">
                        <div class="base_comida_scs" *ngFor="let entradas of informacionRestaurante.entradas; let i = index">
                            <input class="form-check-input" type="checkbox" [value]="entradas" id="{{ entradas }}" (click)="valueEntrada(entradas)"/><span class="nombre_tl">{{ entradas }}</span>
                            <hr class="linea_divisora_lts">
                        </div>

                        <h3 class="subtitulo_menu">Platos Especiales</h3>
                        <hr class="linea_divisora_lts">
                        <div class="base_comida_scs" *ngFor="let especial of informacionRestaurante.platosEspeciales; let i = index">
                            <input class="form-check-input" type="checkbox" [value]="especial" id="{{ especial }}" (click)="valueEspecial(especial)" /><span class="nombre_tl">{{ especial }}</span>
                            <hr class="linea_divisora_lts">
                        </div>

                        <h3 class="subtitulo_menu">Bebidas</h3>
                        <hr class="linea_divisora_lts">
                        <div class="base_comida_scs" *ngFor="let Bebidas of informacionRestaurante.bebidas; let i = index">
                            <input class="form-check-input" type="checkbox" [value]="Bebidas" id="{{ Bebidas }}"  (click)="valueBebidas(Bebidas)"/><span class="nombre_tl">{{ Bebidas }}</span>
                            <hr class="linea_divisora_lts">
                        </div>
                    
                    </form>

                </div>
                <div class="base_carta_2">
                    <h2 class="titulo_menu">TU PEDIDO</h2>
                    <form class="formulario_menu">

                        <div class="base_pedido" *ngFor="let pedido of arregloPedido; let i = index">
                           
                            <input type="checkbox" hidden/><span class="nombre_tl">{{ pedido }}</span>
                            <hr class="linea_divisora_lts">
                        </div>

                
                    </form>
                    <button class="pedido_domicilio" (click)="solicitarDomicilio()">Solicitar pedido a domicilio</button>
                </div>
            </div>
        </div>

        <hr class="dividor_comentarios">

        <div class="contenedor_comentarios_restaurante">
            <h3 class="comentarios_restaurante">COMENTARIOS</h3>

            <div class="caja_comentario_ltsx" *ngFor="let comentarios of guardarComentarios">
                <h1 class="nombre_persona">{{ comentarios.nombre }}</h1>
                <p class="comentario_lts"> {{ comentarios.correo }}</p>
                <p class="comentario_lts"> {{ comentarios.comentario }}</p>
                <p class="calificacion_txt">Excelente</p>
            </div>


        <div class="base_formulario_comentario">
            <form [formGroup]="formComentario" class="form_comentario">
                <label class="txt_mensaje">Escriba sus comentarios</label><br>
                <textarea type="textarea" formControlName="comentario"></textarea><br>
                <button class="boton_registrar_comentario" (click)="comentar()">Comentar</button>
            </form>
        </div>
    </div>
</div>
