<app-navbar></app-navbar>


<div class="fondo_trasparentoso_lts"></div>
<div class="contenedor_principal_restaurante">

    <div class="base_modal_confirmacion">
        <img src="./assets/img/logo_negro.svg" class="icono_restaurante"/>    
        <h3 class="mensaje_modal">¿Hola Carlos Alberto Bustos esta bien tu pedido?</h3>
        <div class="base_seleccionados">
            <p class="comida_seleccionada">Cerveza poker<span class="precio_almuerxo_l">$20.000</span></p>
        </div>
    </div>

    <div class="contenedor_seguro_tsx_2">
        <div class="base_imagen_ltsx">
            <img src="./assets/img/logo_restaurante_blanco.svg" class="logo_restaurante_blanco"/>
        </div>
        <h2 class="titulo_restaurante_z">Delicias del pacifico</h2>

        <div class="contenedor_detalle_restaurante">
            <div class="base_detalle_resturante">
                <img src="./assets/img/rest1.jpg" class="imagen_restaurante"/>
                <div class="base_descripcion_restaurante">
                    <p class="texto_restaurante">Somos un restaurante ubicado en la ciudad de bogota, hacemos todo tipo de comida de mar,platos a la carta, y especiales a un precio muy acequible para nuestros clientes.</p>
                </div>
            </div>
            <div class="base_detalle_carta">
                <div class="base_carta_1">
                    <h2 class="titulo_menu">NUESTRO MENU</h2>
                    
                    <form class="formulario_menu">
                        <h3 class="subtitulo_menu">Platos Especiales</h3>
                        <input type="checkbox" /><span class="nombre_tl">Mojarra frita</span> <span class="precio">$20.000</span>
                        <hr class="linea_divisora_lts">

                        <input type="checkbox" /><span class="nombre_tl">Bandeja paisa</span> <span class="precio">$10.000</span>
                        <hr class="linea_divisora_lts">

                        <input type="checkbox" /><span class="nombre_tl">Churrasco</span> <span class="precio">$20.000</span>
                        <hr class="linea_divisora_lts">

                        <input type="checkbox" /><span class="nombre_tl">Mojarra frita</span> <span class="precio">$20.000</span>
                        <hr class="linea_divisora_lts">
                        
                        <h3 class="subtitulo_menu">Platos del dia</h3>
                        <input type="checkbox" /><span class="nombre_tl">Almuerzo casero</span> <span class="precio">$20.000</span>
                        <hr class="linea_divisora_lts">

                        <h3 class="subtitulo_menu">Bebidas</h3>
                        <input type="checkbox" /><span class="nombre_tl">Agua cristal</span> <span class="precio">$20.000</span>
                        <hr class="linea_divisora_lts">

                        <input type="checkbox" /><span class="nombre_tl">Cerveza club colombia</span> <span class="precio">$20.000</span>
                        <hr class="linea_divisora_lts">

                        <input type="checkbox" /><span class="nombre_tl">Limonada</span> <span class="precio">$20.000</span>
                        <hr class="linea_divisora_lts">
                    </form>

                </div>
                <div class="base_carta_2">
                    <h2 class="titulo_menu">PEDIDO</h2>
                    <form class="formulario_menu">
                        <span><img src="./assets/img/cerrar.png" class="quitar_comida"/></span>
                        <input type="checkbox" hidden/><span class="nombre_tl">Mojarra frita</span> <span class="precio">$20.000</span>
                        <hr class="linea_divisora_lts">

                        <span><img src="./assets/img/cerrar.png" class="quitar_comida"/></span>
                        <input type="checkbox" hidden/><span class="nombre_tl">Bandeja paisa</span> <span class="precio">$10.000</span>
                        <hr class="linea_divisora_lts">

                        <span><img src="./assets/img/cerrar.png" class="quitar_comida"/></span>
                        <input type="checkbox" hidden/><span class="nombre_tl">Churrasco</span> <span class="precio">$20.000</span>
                        <hr class="linea_divisora_lts">

                        <span><img src="./assets/img/cerrar.png" class="quitar_comida"/></span>
                        <input type="checkbox" hidden/><span class="nombre_tl">Mojarra frita</span> <span class="precio">$20.000</span>
                        <hr class="linea_divisora_lts">
                    </form>
                    <button class="pedido_domicilio">Solicitar pedido a domicilio</button>
                </div>
            </div>
        </div>

        <div class="contenedor_comentarios_restaurante">
            <h3 class="comentarios_restaurante">COMENTARIOS</h3>
            <div class="caja_comentario_ltsx">
                <h1 class="nombre_persona">Carlos Alberto Bustos Caviedes</h1>
                <p class="comentario_lts">Excelente lugar,  la atención es muy buena</p>
                <p class="calificacion_txt">Excelente</p>
            </div>

            <div class="caja_comentario_ltsx">
                <h1 class="nombre_persona">Carlos Alberto Bustos Caviedes</h1>
                <p class="comentario_lts">Excelente lugar,  la atención es muy buena</p>
                <p class="calificacion_txt">Excelente</p>
            </div>

            <div class="caja_comentario_ltsx">
                <h1 class="nombre_persona">Carlos Alberto Bustos Caviedes</h1>
                <p class="comentario_lts">Excelente lugar,  la atención es muy buena</p>
                <p class="calificacion_txt">Excelente</p>
            </div>
        </div>

        <div class="base_formulario_comentario">
            <form class="form_comentario">
                <label class="txt_mensaje">Escriba sus comentarios</label>
                <textarea type="textarea"></textarea>
            </form>
        </div>
    </div>
</div>
