<app-navbar></app-navbar>

<div class="fondo_trasparentoso_lts"></div>

<div class="contenedor_principal_restaurante">
    <div class="contenedor_logo_y_buscador">
        <img src="./assets/img/logo_restaurante_blanco.svg" class="marca_resturante"/>
        <h1 class="titulo_bienvenido_z3">BIENVENIDO</h1>
        <h3 class="subtitulo_inicio">¿Que quieres comer Hoy?</h3>
        <form class="formulario">
            <input type="text"  class="control_ltsx"/><button class="boton_ingresar_ltsx">Ingresar</button>
        </form>
    </div>
</div>
