<app-navbar></app-navbar>

<div class="fondo_trasparentoso_lts"></div>

<div class="contenedor_principal_restaurante">
    <div class="contenedor_logo_y_buscador">
        <img src="./assets/img/logo_restaurante_blanco.svg" class="marca_resturante"/>
        <h1 class="titulo_bienvenido_z3">BIENVENIDO</h1>
        <h3 class="subtitulo_inicio">¿Que quieres comer Hoy?</h3>
        <form class="formulario">
            <div class="bases_seleccionar_comida input_left" >
                <label class="texto_select">Elegir Comida</label>
                <select class="form-control" #val (change)="categoriaInicio( val.value )">
                    <option value="Todos">Todas las categorias</option>
                    <option value="Comida rapida">Comida rapida</option>
                    <option value="Carnes">Carnes</option>
                    <option value="Sopas">Sopas</option>
                    <option value="Vegetales">Vegetales</option>
                    <option value="Tipica colombiana">Tipica colombiana</option>
                    <option value="Comidad de mar">Comidad de mar</option>
                    <option value="Comida Light">Comida Light</option>
                    <option value="Comida Peruana">Comida Peruana</option>
                    <option value="Comida Italiana">Comida Italiana</option>
                    <option value="Comida Francesa">Comida Francesa</option>
                    <option value="Comida China">Comida China</option>
                    <option value="Comida Mexicana">Comida Mexicana</option>
                    <option value="Comida Oriental">Comida Oriental</option>
                </select>
            </div>

           <button class="boton_ingresar_ltsx" (click)="buscarComida()">Ingresar</button>
        </form>
    </div>
</div>
