.contenedor_principal_restaurante{

    width: 100%;
    height: 93vh;;
    background-image: url('../../../assets/img/fondo.jpg');
    display: flex;
    align-items: center;
    background-size: cover;
}

.contenedor_logo_y_buscador{
    width: 600px;
    display: table;
    margin: auto;
    z-index: 2;
    position: relative;
}

.marca_resturante {
    width: 259px;
    display: table;
    margin: auto;
    position: relative;
}

.boton_ingresar_ltsx {
    padding: 6px 16px 8px 14px;
    background-color: #03c1d3;
    text-align: center;
    float: left;
    border: 0;
    cursor: pointer;
    font-weight: 600;
}

.control_ltsx {
    float: left;
    width: 86%;
    padding: 7px 14px;
    border-radius: 10px 0px 0px 10px;
}

.titulo_bienvenido_z3 {
 
    font-size: 105px;
    color: #fff;
    text-align: center;
    margin-bottom: 0px;
}

.subtitulo_inicio {
    font-size: 34px;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
    position: relative;
    top: -3px;
}
.nombre_persona{

    font-size: 32px;
    color: #fff;
    text-align: center;
    margin-bottom: 37px;
    position: relative;
    top: -13px;
    text-transform: capitalize;

}


.texto_select {
    font-size: 15px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0px;
    font-weight: 500;
    width: 100%;
}

#categoriaInicio {
    width: 85%;
    float: left;
    border-radius: 10px 0px 0px 10px;
}