<!---navbar--->
<app-navbar></app-navbar>
<!---navbar--->


<div class="fondo_trasparentoso_lts"></div>

<div class="contenedor_formulario_cliente">
    <div class="base_formulario_ltsx">
        <div class="base_logo_lts">
            <img src="assets/img/logo_restaurante_blanco.svg" class="logo_formulario_ltsx"/>
        </div>

        <h1 class="titulo_ingreso_resturante">Ingreso Restaurantes</h1>

        <form [formGroup]="loginRestaurante"  class="base_formulario">
            <div class="base_input">
                <label class="textos_login">Usuario</label>
                <input type="text" class="form-control control_input" formControlName="usuario"/>
                <small class="text-danger" *ngIf="errorUsuario()">Escriba su correo Electronico</small>
            </div>
            
            <div class="base_input">
                <label class="textos_login">pass</label>
                <input type="password" class="form-control control_input" formControlName="pass"/>
                <small class="text-danger" *ngIf="errorPass()">Escriba su contraseña</small>
            </div>
            <p class="text_registro">¿no ha registrado su restaurante? - <span class="registrarme" [routerLink]="['/RegistroRestaurante']">registrarme</span></p>
            <button class="boton_ingresar" (click)="ingresarUsuarioRest()">Ingresar</button>
        </form>
        
    </div>
</div>
