

/*-------------formularios-----------*/
.contenedor_formulario_cliente{

    width: 100%;
    height: 100vh;
    background-image: url('../../../assets/img/fondo.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
}

.base_formulario_ltsx{

    width: 300px;
    display: table;
    margin:auto;
    position: relative;
    z-index: 2;
    padding: 50px;
}

.base_formulario{

    width: 400px;
    display: table;
    margin: auto;
    position: relative;
    z-index: 2;
}

.logo_formulario_ltsx {

    width: 125px;
    margin: 0px auto 22px auto;
}

.boton_ingresar {

    border: 0px;
    padding: 7px 17px;
    margin-top: 17px;
    float: left;
    background-color: #0071BB;
    color: #fff;
    cursor: pointer;
}

.textos_login {

    color: #fff;
    padding-bottom: 1px;
}

.base_input{

    width: 100%;
    display: table;
    margin-bottom: 14px;

}

.base_logo_lts{

    width: auto;
    margin: auto;
    display: table;
}

.control_input{

    border-radius:0px;
}

/*-----------fin formularios-----------*/