
<app-navbar></app-navbar>

<div class="contenido_principal">
    
    <div class="conteendor_mensajes">

        <!--pedidos-->
        <div class="base_pedidos_perfil_rest">
            <h1 class="titulo_mensajes"> <span class="numeroMensajes1">{{ contarPedidos }} </span>PEDIDOS NUEVOS</h1>

            <div class="base_mensaje" *ngFor="let pedido of dataPedidos; let i = index"  (click)="verMensaje(i + 1, i, pedido )">
                <p class="mensaje_nuevo">{{ pedido.nombreCliente }} <span class="circulo_rojo" id="{{ i + 1 }}"></span></p>
            </div>
        </div>


        <!--pedidos-->
        <div class="base_pedidos_perfil_rest">
            <h1 class="titulo_mensajes">HISTORIAL GESTIONADOS</h1>

            <div class="base_mensaje" (click)="gestionados('rechazado')">
                <p class="mensaje_nuevo" >Rechazados <span class="numeroMensajes">{{ contarRechazados }}</span></p>
            </div>
            <div class="base_mensaje" (click)="gestionados('aceptado')">
                <p class="mensaje_nuevo" >Aceptados <span class="numeroMensajes">{{ contarAceptados }}</span></p>
            </div>
           
        </div>

        

        <div class="base_pedidos_perfil_rest">
            <h1 class="titulo_mensajes">ADMIN COMENTARIOS</h1>

            <div class="base_mensaje" (click)="traerComentarios()">
                <p class="mensaje_nuevo">Ver comentarios <span class="numeroMensajes">{{ contarComentarios }}</span></p>
            </div>
        </div>
    </div>




    <!-----seccion detalle---->
    <div class="contenedor_detalle">
        <div class="pedidos" *ngIf="mostrarPantallaDetalle">
            <img src="./assets/img/foto_perfil.jpg" class="foto_perfil"/>
            <h1 class="nombre_persona">{{ informacionDetalle.nombreCliente  }}</h1>
            <p class="detalle_pedido">Correo Cliente: {{ informacionDetalle.correoCliente }}</p>
            <p class="detalle_pedido">ciudad: {{ informacionDetalle.ciudad }}</p>
            <p class="detalle_pedido">barrio: {{ informacionDetalle.barrio }}</p>
            <p class="detalle_pedido">direccionCliente: {{ informacionDetalle.direccionCliente }}</p>
            <p class="detalle_pedido">Fecha de solictud: {{ informacionDetalle.fecha  }}</p>
        </div>
        

        <div class="pedidos" *ngIf="mostrarPantallaDetalle">
            <h1 class="nombre_persona">PEDIDO</h1>
            <p class="comida_pedida" *ngFor="let comida of informacionDetalle.pedido">{{ comida }}</p>
        </div>


        <!---mensajes----->
        <div class="enviar_mensajes" *ngIf="mostrarPantallaDetalle">
            <h2>Envie un mensaje a {{ informacionDetalle.nombreCliente }}</h2>

            <form >
                <textarea type="textarea" name="mensaje" class="form-control mensaje" [(ngModel)]="mensaje"></textarea>
                <button class="btn btn-primary btn_Enviar" (click)="enviarMensaje()">Enviar</button>
            </form>
        </div>
        

        <!---BOTONES CONFIRMACION-->
        <div class="base_botones_ltsx" *ngIf="mostrarPantallaDetalle">
            <button class="botones_pedidos btn btn-danger quitar_left" (click)="rechazarPedido( informacionDetalle )">Rechazar pedido</button>
            <button class="botones_pedidos btn btn-success" (click)="aceptarPedido(informacionDetalle)" >Aceptar Pedido</button>
           
        </div>
        


    
        
        
        <!---texto informativo---->
        <div class="base_informacion" *ngIf="mostrarPantallaInformacion">
            <h1 class="texto_titulo">{{ mensajes }}</h1>
        </div>


        <!----ver comentarios-->
        <div class="base_comentarios" *ngIf="base_comentarios">
            <div class="base_comnetario" *ngFor="let comentariosPerfil of guardarComentarios">
                <p class="nombre">{{ comentariosPerfil.nombre }}</p>
                <p class="correo">{{ comentariosPerfil.correo }}</p>
                <p class="comentario">{{ comentariosPerfil.comentario }}</p>
                <button class="btn btn-danger bajar_boton" (click)="borrarComentariosPerfil( comentariosPerfil )">Borrar comentario</button>
            </div>
        </div>
    </div>



    <!---Seccionn de Gestionados-->
    <div class="contenedor_detalle">
        <h1 class="titulo_pedidos" *ngIf="mostrarGestionado">Pedidos {{ tipoPedido }}</h1>

        <div class="contenedor_gestionado" *ngFor="let gestionado of ArrGestionados; let i = index" >
            <div class="pedidos"  *ngIf="mostrarGestionado">
                <img src="./assets/img/foto_perfil.jpg" class="foto_perfil"/>
                <h1 class="nombre_persona">{{ gestionado.nombreCliente  }}</h1>
                <p class="detalle_pedido">Correo Cliente: {{ gestionado.correoCliente }}</p>
                <p class="detalle_pedido">ciudad: {{ gestionado.ciudad }}</p>
                <p class="detalle_pedido">barrio: {{ gestionado.barrio }}</p>
                <p class="detalle_pedido">direccionCliente: {{ gestionado.direccionCliente }}</p>
                <p class="detalle_pedido">Fecha de solictud: {{ gestionado.fecha  }}</p>
            </div>
            

            <div class="pedidos" *ngIf="mostrarGestionado">
                <h1 class="nombre_persona">PEDIDO</h1>
                <p class="comida_pedida" *ngFor="let comida of gestionado.pedido">{{ comida }}</p>
            </div>

            <div class="base_botones_ltsx" *ngIf="mostrarGestionado">

                <button class="botones_pedidos btn btn-danger"    (click)="eliminarGestionado( ArrGestionados, i )" *ngIf="pEliminar">{{ mensajeBoton }}</button>

            </div>

            <hr class="linea_divisora" *ngIf="mostrarGestionado">
        </div>
 
    </div>
</div>




